In [1]:
import pandas
data = pandas.read_csv('D:/w266project/singledataset/all.csv')
data.head()

,filedate,prevfiledate,nextfiledate,simtfidf4,simtfidf3,simtfidf2,simtfidf1,simcount4,simcount3,simcount2,...,countlit3,countlit2,countlit1,countlit0,countall4,countall3,countall2,countall1,countall0,ticker
0,2001-01-17,2000-09-01,2001-03-19,0.756638,0.571374,0.528824,0.536476,0.910897,0.806215,0.704860,...,115,119,120,258,29317,7970,8421,8381,21130,A
1,2001-03-19,2001-01-17,2001-06-14,0.147499,0.138071,0.137607,0.159408,0.312699,0.284314,0.282814,...,119,120,258,3801,7970,8421,8381,21130,50139,A
2,2001-06-14,2001-03-19,2001-09-14,0.167357,0.133876,0.126519,0.584150,0.359471,0.318279,0.302013,...,120,258,3801,1390,8421,8381,21130,50139,24423,A
3,2001-09-14,2001-06-14,2002-01-22,0.560009,0.444181,0.136843,0.154786,0.817382,0.689642,0.280843,...,258,3801,1390,105,8381,21130,50139,24423,7385,A
4,2002-01-22,2001-09-14,2002-02-01,0.634223,0.227283,0.183373,0.447746,0.812512,0.395031,0.377926,...,3801,1390,105,652,21130,50139,24423,7385,27660,A

In [2]:
import pickle
with open('D:/w266project/stockdata/stockdata.pkl', 'rb') as pklfile:
    stockdata = pickle.load(pklfile)

In [3]:
print(len(stockdata))
print(stockdata.keys())

505
dict_keys(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADS', 'ADSK', 'AEE', 'AEP', 'AES', 'AET', 'AFL', 'AGN', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALK', 'ALL', 'ALLE', 'ALXN', 'AMAT', 'AMD', 'AME', 'AMG', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANDV', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'APC', 'APD', 'APH', 'APTV', 'ARE', 'ARNC', 'ATVI', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXP', 'AYI', 'AZO', 'BA', 'BAC', 'BAX', 'BBT', 'BBY', 'BCR', 'BDX', 'BEN', 'BF_B', 'BHF', 'BHGE', 'BIIB', 'BK', 'BLK', 'BLL', 'BMY', 'BRK_B', 'BSX', 'BWA', 'BXP', 'C', 'CA', 'CAG', 'CAH', 'CAT', 'CB', 'CBG', 'CBOE', 'CBS', 'CCI', 'CCL', 'CDNS', 'CELG', 'CERN', 'CF', 'CFG', 'CHD', 'CHK', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COG', 'COL', 'COO', 'COP', 'COST', 'COTY', 'CPB', 'CRM', 'CSCO', 'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CVS', 'CVX', 'CXO', 'D', 'DAL', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DISCA', 'DISCK', 'DISH', 'DLR', 'DLTR', 'DOV', 'DPS', 'DRE', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DWDP', 'DXC', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EIX', 'EL', 'EMN', 'EMR', 'EOG', 'EQIX', 'EQR', 'EQT', 'ES', 'ESRX', 'ESS', 'ETFC', 'ETN', 'ETR', 'EVHC', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FAST', 'FB', 'FBHS', 'FCX', 'FDX', 'FE', 'FFIV', 'FIS', 'FISV', 'FITB', 'FL', 'FLIR', 'FLR', 'FLS', 'FMC', 'FOX', 'FOXA', 'FRT', 'FTI', 'FTV', 'GD', 'GE', 'GGP', 'GILD', 'GIS', 'GLW', 'GM', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GPS', 'GRMN', 'GS', 'GT', 'GWW', 'HAL', 'HAS', 'HBAN', 'HBI', 'HCA', 'HCN', 'HCP', 'HD', 'HES', 'HIG', 'HLT', 'HOG', 'HOLX', 'HON', 'HP', 'HPE', 'HPQ', 'HRB', 'HRL', 'HRS', 'HSIC', 'HST', 'HSY', 'HUM', 'IBM', 'ICE', 'IDXX', 'IFF', 'ILMN', 'INCY', 'INFO', 'INTC', 'INTU', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'JBHT', 'JCI', 'JEC', 'JNJ', 'JNPR', 'JPM', 'JWN', 'K', 'KEY', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KORS', 'KR', 'KSS', 'KSU', 'L', 'LB', 'LEG', 'LEN', 'LH', 'LKQ', 'LLL', 'LLY', 'LMT', 'LNC', 'LNT', 'LOW', 'LRCX', 'LUK', 'LUV', 'LYB', 'M', 'MA', 'MAA', 'MAC', 'MAR', 'MAS', 'MAT', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'MGM', 'MHK', 'MKC', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MON', 'MOS', 'MPC', 'MRK', 'MRO', 'MS', 'MSFT', 'MSI', 'MTB', 'MTD', 'MU', 'MYL', 'NAVI', 'NBL', 'NCLH', 'NDAQ', 'NEE', 'NEM', 'NFLX', 'NFX', 'NI', 'NKE', 'NLSN', 'NOC', 'NOV', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NWL', 'NWS', 'NWSA', 'O', 'OKE', 'OMC', 'ORCL', 'ORLY', 'OXY', 'PAYX', 'PBCT', 'PCAR', 'PCG', 'PCLN', 'PDCO', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PKI', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'PPG', 'PPL', 'PRGO', 'PRU', 'PSA', 'PSX', 'PVH', 'PWR', 'PX', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'RE', 'REG', 'REGN', 'RF', 'RHI', 'RHT', 'RJF', 'RL', 'RMD', 'ROK', 'ROP', 'ROST', 'RRC', 'RSG', 'RTN', 'SBAC', 'SBUX', 'SCG', 'SCHW', 'SEE', 'SHW', 'SIG', 'SJM', 'SLB', 'SLG', 'SNA', 'SNI', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRCL', 'SRE', 'STI', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYMC', 'SYY', 'T', 'TAP', 'TDG', 'TEL', 'TGT', 'TIF', 'TJX', 'TMK', 'TMO', 'TPR', 'TRIP', 'TROW', 'TRV', 'TSCO', 'TSN', 'TSS', 'TWX', 'TXN', 'TXT', 'UA', 'UAA', 'UAL', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URI', 'USB', 'UTX', 'V', 'VAR', 'VFC', 'VIAB', 'VLO', 'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VZ', 'WAT', 'WBA', 'WDC', 'WEC', 'WFC', 'WHR', 'WLTW', 'WM', 'WMB', 'WMT', 'WRK', 'WU', 'WY', 'WYN', 'WYNN', 'XEC', 'XEL', 'XL', 'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZION', 'ZTS'])

In [4]:
sp = pandas.read_csv('D:/w266project/stockdata/SPXTR.csv')
sp.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1990-01-02,353.399994,359.690002,351.980011,359.690002,359.690002,162070000
1,1990-01-03,359.690002,360.589996,357.890015,358.760010,358.760010,192330000
2,1990-01-04,358.760010,358.760010,352.890015,355.670013,355.670013,177000000
3,1990-01-05,355.670013,355.670013,351.350006,352.200012,352.200012,158530000
4,1990-01-08,352.200012,354.239990,350.540009,353.790009,353.790009,140110000

In [5]:
import datetime
def makeDatetime(x):
    # expects yyyy-mm-dd
    return datetime.date(int(x[0:4]), int(x[5:7]), int(x[8:10]))

d = sp['Date']
d = d.apply(makeDatetime)
sp['DateObj'] = d

In [6]:
for fld in ['filedate', 'prevfiledate', 'nextfiledate']:
    d = data[fld]
    d = d.apply(makeDatetime)
    data[fld+"obj"] = d

In [26]:
print(stockdata['AAPL'].keys())
print(stockdata['AAPL']['datatable'].keys())
print(stockdata['AAPL']['datatable']['columns'][0])
print(stockdata['AAPL']['datatable']['columns'][1])
print(stockdata['AAPL']['datatable']['columns'][5])
print(stockdata['AAPL']['datatable']['data'][0])

# how ridiculous can I make this list comprehension?
# get most recent observation date up to and including (but strictly not after) input date
max([datetime.date(int(x[1][0:4]), int(x[1][5:7]), int(x[1][8:10]))
     for x in stockdata['AAPL']['datatable']['data']
     if datetime.date(int(x[1][0:4]), int(x[1][5:7]), int(x[1][8:10])) <= datetime.date(2000,4,29)])

dict_keys(['datatable', 'meta'])
dict_keys(['data', 'columns'])
{'name': 'ticker', 'type': 'String'}
{'name': 'date', 'type': 'Date'}
{'name': 'close', 'type': 'BigDecimal(34,12)'}
['AAPL', '1990-01-02', 35.25, 37.5, 35.0, 37.25, 1635700.0, 0.0, 1.0, 1.058061228383, 1.1255970514713, 1.0505572480399, 1.1180930711282, 45799600.0]

datetime.date(2000, 4, 28)

In [32]:
data.dropna('index', 'any', inplace=True)
print(len(data))

38944

In [64]:
dateDict = {}
for y in range(len(sp)):
    x = sp['Date'][y]
    dateDict[x] = datetime.date(int(x[0:4]), int(x[5:7]), int(x[8:10]))
    
for fld in ['filedate', 'prevfiledate', 'nextfiledate']:
    for y in range(len(data)):
        try:
            x = data[fld][y]
            dateDict[x] = datetime.date(int(x[0:4]), int(x[5:7]), int(x[8:10]))
        except Exception:
            pass
        
len(dateDict)

7071

In [113]:
dateDict['2017-04-14'] = datetime.date(2017,4,14)

In [165]:
# want: stock + market return since previous filedate, stock + market return until next filedate,
# did stock beat market for both periods (latter is target label)

def getAvailDate(ticker, maxDate):
    avail = [dateDict[x[1]]
                 for x in stockdata[ticker]['datatable']['data']
                 if dateDict[x[1]] <= maxDate]
    if avail:
        return max(avail)
    else:
        return None
    
savailcList = []
savailpList = []
savailnList = []
droprows = []
cache = {}
for x in range(len(data)):
#for x in range(1000):
    ticker = data['ticker'][x]
    cres = cache.get((ticker, data['filedateobj'][x]), None)
    if cres:
        savailc = cres
    else:
        savailc = getAvailDate(ticker, data['filedateobj'][x])
        cache[(ticker, data['filedateobj'][x])] = savailc
    cres = cache.get((ticker, data['prevfiledateobj'][x]), None)
    if cres:
        savailp = cres
    else:
        savailp = getAvailDate(ticker, data['prevfiledateobj'][x])
        cache[(ticker, data['prevfiledateobj'][x])] = savailp
    cres = cache.get((ticker, data['nextfiledateobj'][x]), None)
    if cres:
        savailn = cres
    else:
        savailn = getAvailDate(ticker, data['nextfiledateobj'][x])
        cache[(ticker, data['nextfiledateobj'][x])] = savailn
    if not (savailc and savailp and savailn):
        droprows.append(x)
        continue
    savailcList.append(savailc)
    savailpList.append(savailp)
    savailnList.append(savailn)

In [166]:
print(len(data))
data.drop(data.index[droprows], inplace=True)
droprows = []
print(len(data))

data = data.reset_index(drop=True)

38084
38060

In [141]:
stockpriceDict = {}
for t in stockdata.keys():
    for d in stockdata[t]['datatable']['data']:
        stockpriceDict[(t, d[1])] = d[5]
len(stockpriceDict)

2865242

In [144]:
marketpriceDict = {}
for x in range(len(sp)):
    marketpriceDict[sp['Date'][x]] = sp['Adj Close'][x]
len(marketpriceDict)

7047

In [175]:
testdata = data[0:100]
spriceCurrList = []
spricePrevList = []
spriceNextList = []
mpriceCurrList = []
mpricePrevList = []
mpriceNextList = []
for x in range(len(data)):
    t = data['ticker'][x]
    spriceCurrList.append(stockpriceDict[(t, str(savailcList[x]))])
    spricePrevList.append(stockpriceDict[(t, str(savailpList[x]))])
    spriceNextList.append(stockpriceDict[(t, str(savailnList[x]))])
    mpriceCurrList.append(marketpriceDict[str(savailcList[x])])
    mpricePrevList.append(marketpriceDict[str(savailpList[x])])
    mpriceNextList.append(marketpriceDict[str(savailnList[x])])

In [181]:
data['stockprice0'] = pandas.Series(spriceCurrList)
data['stockprice1'] = pandas.Series(spricePrevList)
data['stockpricefuture'] = pandas.Series(spriceNextList)
data['marketprice0'] = pandas.Series(mpriceCurrList)
data['marketprice1'] = pandas.Series(mpricePrevList)
data['marketpricefuture'] = pandas.Series(mpriceNextList)
data.head()

,filedate,prevfiledate,nextfiledate,simtfidf4,simtfidf3,simtfidf2,simtfidf1,simcount4,simcount3,simcount2,...,ticker,filedateobj,prevfiledateobj,nextfiledateobj,stockprice0,stockprice1,stockpricefuture,marketprice0,marketprice1,marketpricefuture
0,2001-01-17,2000-09-01,2001-03-19,0.756638,0.571374,0.528824,0.536476,0.910897,0.806215,0.704860,...,A,2001-01-17,2000-09-01,2001-03-19,61.94,61.88,36.99,1329.469971,1520.770020,1170.810059
1,2001-03-19,2001-01-17,2001-06-14,0.147499,0.138071,0.137607,0.159408,0.312699,0.284314,0.282814,...,A,2001-03-19,2001-01-17,2001-06-14,36.99,61.94,31.10,1170.810059,1329.469971,1219.869995
2,2001-06-14,2001-03-19,2001-09-14,0.167357,0.133876,0.126519,0.584150,0.359471,0.318279,0.302013,...,A,2001-06-14,2001-03-19,2001-09-14,31.10,36.99,23.05,1219.869995,1170.810059,1092.540039
3,2001-09-14,2001-06-14,2002-01-22,0.560009,0.444181,0.136843,0.154786,0.817382,0.689642,0.280843,...,A,2001-09-14,2001-06-14,2002-01-22,23.05,31.10,27.16,1092.540039,1219.869995,1119.310059
4,2002-01-22,2001-09-14,2002-02-01,0.634223,0.227283,0.183373,0.447746,0.812512,0.395031,0.377926,...,A,2002-01-22,2001-09-14,2002-02-01,27.16,23.05,29.61,1119.310059,1092.540039,1122.199951

In [187]:
import numpy as np
data['stockreturn0'] = np.log(data['stockprice0'] / data['stockprice1'])
data['stockreturnfuture'] = np.log(data['stockpricefuture'] / data['stockprice0'])
data['marketreturn0'] = np.log(data['marketprice0'] / data['marketprice1'])
data['marketreturnfuture'] = np.log(data['marketpricefuture'] / data['marketprice0'])
data['beatmarket0'] = data['stockreturn0'] > data['marketreturn0']
data['beatmarketfuture'] = data['stockreturnfuture'] > data['marketreturnfuture']
data.head()

,filedate,prevfiledate,nextfiledate,simtfidf4,simtfidf3,simtfidf2,simtfidf1,simcount4,simcount3,simcount2,...,stockpricefuture,marketprice0,marketprice1,marketpricefuture,stockreturn0,stockreturnfuture,marketreturn0,marketreturnfuture,beatmarket0,beatmarketfuture
0,2001-01-17,2000-09-01,2001-03-19,0.756638,0.571374,0.528824,0.536476,0.910897,0.806215,0.704860,...,36.99,1329.469971,1520.770020,1170.810059,0.000969,-0.515519,-0.134436,-0.127084,True,False
1,2001-03-19,2001-01-17,2001-06-14,0.147499,0.138071,0.137607,0.159408,0.312699,0.284314,0.282814,...,31.10,1170.810059,1329.469971,1219.869995,-0.515519,-0.173440,-0.127084,0.041048,False,False
2,2001-06-14,2001-03-19,2001-09-14,0.167357,0.133876,0.126519,0.584150,0.359471,0.318279,0.302013,...,23.05,1219.869995,1170.810059,1092.540039,-0.173440,-0.299542,0.041048,-0.110239,False,False
3,2001-09-14,2001-06-14,2002-01-22,0.560009,0.444181,0.136843,0.154786,0.817382,0.689642,0.280843,...,27.16,1092.540039,1219.869995,1119.310059,-0.299542,0.164080,-0.110239,0.024207,False,True
4,2002-01-22,2001-09-14,2002-02-01,0.634223,0.227283,0.183373,0.447746,0.812512,0.395031,0.377926,...,29.61,1119.310059,1092.540039,1122.199951,0.164080,0.086367,0.024207,0.002579,True,True

In [188]:
with open("D:/w266project/singledataset/cleanedandenhanced.csv", "w") as pfile:
    data.to_csv(pfile, index=False)